body {
    padding-top: 70px;
    font-family: "Segoe UI", sans-serif;
}

/* Hero Section */
.hero-section {
    height: 50vh;
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("../assets/hero\ image.jpg") center/cover no-repeat;
}

/* Product Cards */
.product-card img {
    height: 230px;
    object-fit: cover;
}

.price {
    color: #0d6efd;
    font-weight: 600;
    font-size: 18px;
}
